body {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  min-width: 800px;
  margin: 0;
  padding: 0;
  background: black url("../img/background.png") no-repeat center;
/*
  background-repeat: no-repeat;
  background-position: cover;
  background-color: black;
*/
  
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*header*/
.main-header {
  padding: 5px 0;
  background-color: black;
  margin-bottom: 60px;
}


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  min-height: 50px;
  width: 640px;
  float: left;
}

.user-block {
  min-height: 50px;
  width: 140px;
  float: right;
}

.logo {
  width: 460px;
  margin: 0 auto;
  text-align: center;
}

/*footer*/
.main-footer {
  background-image: url("../img/background3_03.jpg");
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contacts, .footer-social, .footer-copyright {
  width: 300px;
  float: left;
  margin-right: 20px;
}

.footer-social {
  text-align: center;
}

.footer-copyright {
  margin-right: 0;
  text-align: right;
}

/*index*/
.features-item {
  width: 300px;
  min-height: 200px;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}

.index-content {
  width: 820px;
  min-height: 330px;
  padding: 50px 60px;
  background: url("../img/background2.jpg");
  color: black;
  margin-bottom: 35px;
}

.content-column-left, .content-column-right {
  width: 300px;
  min-height: 100px;
  padding: 20px;
}

.content-column-left {
  float: left;
}
.content-column-right {
  float: right;
  margin-right: 0;
}

.column-splitter {
  float: left;
  min-height: 300px;
  width: 140px;
  background-image: url("../img/splitter.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/*price*/
.price-content {
  background: url("../img/background2.jpg");
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.price-header-title {
  text-align: center;
}

.price-column-left, .price-column-right {
  float: left;
  width: 460px;
}

.price-column-left {
  margin-right: 20px;
}

/*shop*/
.shop-content {
  background: url("../img/background2.jpg");
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.shop-left-column {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.shop-items {
  float: right;
  width: 700px;
  margin-bottom: 20px;
}

.shop-item {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.shop-item h2 {
  font-size: 12px;
}
.shop-item:nth-child(3n) {
  margin-right: 0;
}
.items-nav {
  clear: both;
  padding-top: 45px;
}

/*item1*/
.items-gallery {
  width: 460px;
  float: left;
  font-size: 0;
  margin-right: 20px;
}

.items-gallery img:nth-child(3) {
  margin: 0 20px;
}

.items-gallery img:last-child() {
  margin-right: 0;
}

.gallery-main-image {
  margin-bottom: 20px;
}

.items-right-column {
  width: 400px;
  padding-left: 60px;
  float: right;
}